.countries
  .paginate
    %span.cur 1
    \/ 9
    .fa.fa-chevron-circle-up
    .fa.fa-chevron-circle-down
  %table
    %thead
      %tr
        %td.name College
        %td.population Students
        %td.infected Infected
        %td.deaths Burnout
        %td.extra{colspan: 7}
      %tr.total
        %td.name Total
        %td.population
        %td.infected
        %td.deaths
        %td.airport
        %td.hospital
        %td.shipyard
        %td.transit
        %td.border
        %td.school
        %td
    %tbody
.clear
