.evolution
  .section.disaese_inforamtion
    .title
      %span Pathogen Information
    .averages
      .average.evolution_points
        %span.value 0
        %span.name Evolution Points
      .average.infections
        %span.value 0
        %span.name Average new cases a day
      .average.deaths
        %span.value 0
        %span.name Average burnout a day
    .stats
      .stat.lethality
        .name Burnout
        .bar
          .pill
      .stat.infectivity
        .name Reach
        .bar
          .pill
      .stat.visibility
        .name Visibility
        .bar
          .pill
      .clear
  .section.symptons
    .title
      %span Effects
    .tier
      .name Tier 1
      .button.sneezing Doomscrolling
      .button.coughing Constant notification checking
      .button.fever Checking TikTok in lecture
      .button.sweating Scrolling through meals
      .button.vomiting Late-night screen insomnia
    .tier
      .name Tier 2
      .button.fatigue Canceling plans at the last minute
      .button.diarreha Leaving texts on read
      .button.nausea Ghosting and benching
      .button.puloneary_edma Opening apps before saying hello
      .button.dementia Forgetting in-person conversations
    .tier
      .name Tier 3
      .button.hypersensitivity Checking notifications every few minutes
      .button.ataxia Double-screening during events
      .button.kidney_failure Endless For You Page loops
      .button.depression Doomy compare-and-despair scrolling
      .button.hemorhaging Oversharing online then regretting it
    .tier
      .name Tier 4
      .button.liver_failure Staying inside all weekend
      .button.heart_failure Feeling disconnected from suitemates
      .button.blindness Ignoring people right next to you
      .button.hypotonia Muting group chats instead of showing up
      .button.encephalitis Total social burnout
  .section.resistance
    .title
      %span Resilience
    .tier
      .button Distance I
      .button Architecture I
      .button Cohesion I
      .button Policy I
    .tier2
      .button Distance II
      .button Architecture II
      .button Cohesion II
      .button Policy II
    .tier3
      .button Distance III
      .button Architecture III
      .button Cohesion III
      .button Policy III
    .tier4
      .button Distance IV
      .button Architecture IV
      .button Cohesion IV
      .button Policy IV
  .section.transmission
    .title
      %span Spread Channels
    .button Foot-Traffic
    .button Dining Hall
    .button Social Media
    .button Events
  .section.traits
    .title
      %span Traits
  .clear
