.evolution
  .section.disaese_inforamtion
    .title
      %span Disease Information
    .averages
      .average.evolution_points
        %span.value 0
        %span.name Evolution Points
      .average.infections
        %span.value 0
        %span.name Average infections a day
      .average.deaths
        %span.value 0
        %span.name Average deaths a day
    .stats
      .stat.lethality
        .name Lethality
        .bar
          .pill
      .stat.infectivity
        .name Infectivity
        .bar
          .pill
      .stat.visibility
        .name Visiblity
        .bar
          .pill
      .clear
  .section.symptons
    .title
      %span Symptons
    .tier
      .name Tier 1
      .button.sneezing Sneezing
      .button.coughing Coughing
      .button.fever Fever
      .button.sweating Sweating
      .button.vomiting Vomiting
    .tier
      .name Tier 2
      .button.fatigue Fatigue
      .button.diarreha Diarreha
      .button.nausea Nausea
      .button.puloneary_edma Puloneary Edema
      .button.dementia Dementia
    .tier
      .name Tier 3
      .button.hypersensitivity Hypersensitiviy
      .button.ataxia Ataxia
      .button.kidney_failure Kidney Failure
      .button.depression Depression
      .button.hemorhaging Hemorhaging
    .tier
      .name Tier 4
      .button.liver_failure Liver Failure
      .button.heart_failure Heart Failure
      .button.blindness Blindness
      .button.hypotonia Hypotonia
      .button.encephalitis Encephalitis
  .section.resistance
    .title
      %span Resistance
    .tier
      .button Cold I
      .button Heat I
      .button Moisture I
      .button Drug I
    .tier2
      .button Cold II
      .button Heat II
      .button Moisture II
      .button Drug II
    .tier3
      .button Cold III
      .button Heat III
      .button Moisture III
      .button Drug III
    .tier4
      .button Cold IV
      .button Heat IV
      .button Moisture IV
      .button Drug IV
  .section.transmission
    .title
      %span Transmission
    .button Rodent
    .button Insect
    .button Waterorne
    .button Airborne
  .section.traits
    .title
      %span Traits
  .clear
