.header
  .nav
    .tab.tab_disease.active Pathogen
    .tab.tab_stats Stats
    .tab.tab_map Map
  .define
    %span.disease_kind
    %span.disease_name
  .days
    %span.value 0
    %span.name Days Since Infection
  .speeds
    .fa.fa-pause
    .fa.fa-play.active
    .fa.fa-forward
