.step_kind
  .heading Select a Kind of Disease
  .choose_kind
    .kind.active{ kind: 1 }
      .name Virus
      .img
      .features
        .feature Fatest evolution
        .feature Most affected by enviroment
        .feature Bonus to infectivity
    .kind{ kind: 2 }
      .name Bacteria
      .img
      .features
        .feature Medium evolution
        .feature Normally affected by enviroment
        .feature Bonus to drug resistance
    .kind{ kind: 3 }
      .name Parasite
      .img
      .features
        .feature Slowest evoluion
        .feature Least affected by enviroment
        .feature Low visitablity
    .submit
      .next.button
        Next
