.step_kind
  .heading Select a Kind of Disease
  .choose_kind
    .kind.active{ kind: 1 }
      .name Algorithm
      .img
      .features
        .feature Fastest spread across feeds
        .feature Most shaped by the environment
        .feature Bonus to infectivity
    .kind{ kind: 2 }
      .name Platform Culture
      .img
      .features
        .feature Medium evolution
        .feature Norms shift steadily
        .feature Bonus to drug resistance
    .kind{ kind: 3 }
      .name Loneliness
      .img
      .features
        .feature Slowest evolution
        .feature Least affected by enviroment
        .feature Low visibility
    .submit
      .next.button
        Next
